/*artical.html*/
/*面包屑crumbs*/
.crumbs {
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #fff;
}
.crumbs a {
	color: #66a690;
}
.crumbs i {
	margin: 0 3px;
}
.post {
	padding: 10px 20px 100px 20px;
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	margin-top: 10px;
	color: #333;
	background: #fff;
}
.post-title {
	padding: 10px 0;
	line-height: 1.5;
	font-size: 18px;
}
.post-info span{
	margin-right: 10px;
	color: #666;
}
.post .thumbnail {
	max-height: 280px;
	margin: 15px 0;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	border-radius: 3px;
	overflow: hidden;
}
.post .thumbnail:hover {
	box-shadow: 0 0 5px rgba(0,0,0,.6);
}
.post .thumbnail img {
	width: 100%;
	border-radius: 3px;
}
.post-content {
	font-size: 14px; 
	text-align: justify; 
	line-height: 1.8; 
	word-break: break-all; 
}
.post-content p {
	margin-bottom: 5px;
	text-indent: 28px; 
}
